<h1><%= @post.title %></h1>

<%= @post.body %></br></br>


<%= link_to 'Edit', :action => 'edit' %></br></br>

<%= link_to 'Back to Home', :action => 'index' %></br>

<p><%= link_to 'New Post', :action => 'new' %></p>
